<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MiniChat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Mini-chat', root_path, class: 'navbar-brand' %>
    </div>

    <% if current_user %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= image_tag current_user.avatar_url %></li>
        <li><%= link_to 'Sign out', sign_out_path %></li>
      </ul>
    <% end %>
  </div>
</div>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted">Created by <a href="http://radiant-wind.com" target="_blank">Radiant Wind</a></p>
  </div>
</div>
</body>
</html>